body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}
a{
    text-decoration: none;
    font-size: 30px;
    color: #000 !important;

}
@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

li {
    display: inline-block;
    margin: 40px;
    list-style-type: none;
}
header{
    text-align: center;
    background-color: grey;
    height: 10%;
    flex: 2 0 auto;
}
main{
    min-height: calc(100vh - 190px);
}
footer{
    background-color: grey;
    height: 9vh;
    width: 100%;
   float: bottom;
   text-align: center;
}
.img{
    display: inline-block;
    align-self: center;
    height: 300px;
    width: 300px;
    background-image: url('https://www.leomebel.ru/upload/iblock/65c/65cdcaad09bb803d9c63d89131141656.jpg');
    background-size: cover;
    border: solid;
    margin: 0;
}
form{
    vertical-align: middle;
    font-size: 30px;
}
#press{
    display: inline-block;
}
.price{
    display: inline-block;
    margin-left: 150px;
}
.icon{
    height: 20%;
    width: 20%;
    border: solid;
    font-size: 10px;
    display: inline-block;
    padding: 20px;
    margin: 30px;
}
.content{
}
.description{
    display: inline-block;
    float: top;
}
